

<div class="personal-profile-info-card{% if not image %} personal-profile-info-card--no-image{% endif %}">
  {% if image %}
{% if smugmug_image %}
  <div class="personal-profile-info-card__media">
				<div class="program-hero-image"><img src="https://photos.smugmug.com/photos/{{ node.field_plp_program_smugmug.value }}/10000/XL/{{ node.field_plp_program_smugmug.value }}-XL.jpg" alt="{{ node.label }}"></div>
  </div>
{% endif %}

  {% endif %}

  <div class="personal-profile-info-card__content">
    <h1 class="personal-profile-info-card__name">{{ node.field_staff_profile_first_name.0.value }} {{ node.field_staff_profile_last_name.0.value }}</h1>
    <ul class="personal-profile-info-card__titles">
      <li>
        {{ node.field_staff_profile_job_title.0.value }}
        <div class="personal-profile-info-card__address">
              {% set address = node.field_staff_profile_addr.0 %}
                {{ address.address_line1 }}
                {{ address.address_line2 }}
                {{ address.locality }}
                {{ address.administrative_area }}
                {{ address.postal_code }}
                {{ address.country_code }}
          </div>

      </li>
    </ul>
    {% if link_set %}
    {% include "@link-set" with link_set %}
    {% endif %}
  </div>
  <div class="personal-profile-info-card__contact-box">
    <h2>{{ field.field.node.staff_profile.label }}</h2>
    <div class="personal-profile-info-card__contact-box-columns-wrap">
      <div class="personal-profile-info-card__contact-box-column">
        {% if node.field_staff_profile_email.0.value  %}<p><a href="mailto:{{ node.field_staff_profile_email.0.value }}">{{ node.field_staff_profile_email.0.value }}</a></p>{% endif %}
        {% if node.field_staff_profile_phone.0.value %}<p>{{ node.field_staff_profile_phone.0.value  }}</p>{% endif %}
      </div>
      <div class="personal-profile-info-card__contact-box-column">
        <p>{{ field.field_staff_profile_addr.0.value }}<br>
        {{ field.field.node.staff_profile.address.street }}<br>
        {{ field.field.node.staff_profile.address.city_state_zip }}</p>
      </div>
    </div>
    {% if field.field.node.staff_profile.social_links %}
    <ul class="personal-profile-info-card__contact-box-social">
      {% if field.field.node.staff_profile.social_links.instagram %}
      <li>
        <a href="{{ field.field.node.staff_profile.social_links.instagram }}" target="_blank">
          <i class="fak fa-iastate22-instagram" aria-hidden="true"></i>
          <span class="visible-for-screen-readers">Instagram</span>
        </a>
      </li>
      {% endif %}
      {% if field.field.node.staff_profile.social_links.youtube %}
      <li>
        <a href="{{ field.field.node.staff_profile.social_links.youtube }}" target="_blank">
          <i class="fa-brands fa-youtube" aria-hidden="true"></i>
          <span class="visible-for-screen-readers">YouTube</span>
        </a>
      </li>
      {% endif %}
      {% if field.field.node.staff_profile.social_links.facebook %}
      <li>
        <a href="{{ field.field.node.staff_profile.social_links.facebook }}" target="_blank">
          <i class="fa-brands fa-facebook-f" aria-hidden="true"></i>
          <span class="visible-for-screen-readers">Facebook</span>
        </a>
      </li>
      {% endif %}
      {% if field.field.node.staff_profile.social_links.twitter %}
      <li>
        <a href="{{ field.field.node.staff_profile.social_links.twitter }}" target="_blank">
          <i class="fa-brands fa-twitter" aria-hidden="true"></i>
          <span class="visible-for-screen-readers">Twitter</span>
        </a>
      </li>
      {% endif %}
      {% if field.field.node.staff_profile.social_links.linkedin %}
      <li>
        <a href="{{ field.field.node.staff_profile.social_links.linkedin }}" target="_blank">
          <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
          <span class="visible-for-screen-readers">LinkedIn</span>
        </a>
      </li>
      {% endif %}
      {% if field.field.node.staff_profile.social_links.flickr %}
      <li>
        <a href="{{ field.field.node.staff_profile.social_links.flickr }}" target="_blank">
          <i class="fak fa-iastate22-flickr" aria-hidden="true"></i>
          <span class="visible-for-screen-readers">Flickr</span>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
{% if node.field_staff_profile_base_county is not empty %}
  {% set county_ref = node.field_staff_profile_base_county.0 %}

  {% if county_ref.entity is not null %}
    <p>County ID: {{ county_ref.entity.id }}</p>
    <p>County Title: {{ county_ref.entity.label }}</p> <!-- Use label to get the title -->
  {% else %}
    <p>No valid county reference found.</p>
  {% endif %}
{% else %}
  <p>No county data available.</p>
{% endif %}

<p>SmugMug ID image: {{ content.field_smugmug_id }}
</p>
<img src="{{ field_image }}">
 <img
  class="staff_profile_smugmug {{ is_blank ? 'staff_profile_blank_image' : '' }}"
  src="{{ image_url }}"
  alt="{{ is_blank ? '' : 'Staff photo' }}"
/>



</div>

